@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./tippyjs.css";
@import "./oasismenu";

#root {
    min-height: 100dvh;
    width: 100%;
    background-color: #0d0e1b;
}

body,
html,
:root {
    color-scheme: dark;
}


:root {
    --app-theme-primary: #FCB044;
    --app-theme-secondary: #ce851e;
    --app-theme-tertiary: #dea658;
}

.theme-color {
    color: var(--app-theme-primary);
}

.theme-bg {
    background-color: var(--app-theme-primary);
}

.theme-bg-color {
    background-color: #0d0e1b;
}

.theme-bg-hover:hover {
    background-color: var(--app-theme-secondary);
}

.theme-bg-focus:focus {
    background-color: var(--app-theme-secondary);
}

.theme-bg-focus-visible:focus-visible {
    background-color: var(--app-theme-secondary);
}

.theme-bg-focus-within:focus-within {
    background-color: var(--app-theme-secondary);
}

.theme-bg-active:active {
    background-color: var(--app-theme-tertiary);
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}